# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# Poetry
poetry.lock

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# pytype
.pytype/

# coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# pytest
.pytest_cache/

# tox
.tox/

# Sphinx documentation
docs/_build/

# pyinstaller
*.spec
dist/
build/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Jupyter Notebook metadata
*.nbconvert.ipynb

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Other system files
Thumbs.db
ehthumbs.db

# Test results
test-results/
